<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top View</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="header d-flex align-items-center">
    <div class="container d-flex align-items-center">
        <a href="/"><img src="images/logo.png" alt="Logo" style="width: 46px;"/></a>
        <span class="app-title ms-2">Birthday Greetings</span>
    </div>
</div>
<div style="min-height: calc(100vh - 140px)">
<!--CONTENT-->
    
<!--CONTENT END-->
</div>
<div class="footer d-flex align-items-center justify-content-center">
    <span class="footer-note">Demo App By Shakeel Ahmed</span>
</div>
</body>
</html>